<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hxs.fitnessroom"
    >

    <!-- ************ -->
    <!-- 直接获取的权限 -->
    <!-- ************ -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 访问网络 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- 更改系统设置 腾信x5浏览器内核要用到 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- ************ -->
    <!-- 危险权限,需询问获取 -->
    <!-- ************ -->
    <!-- 百度定位SDK ************************************************************************ -->
    <!-- 这个权限用于进行网络定位   组：LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位    组：LOCATION  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于读取手机当前的状态       组：PHONE  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据   组：STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据      组：STORAGE -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->


    <!-- 扫二维码，摄像头权限  组：CAMERA -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 友盟第三方登录分享SDK 组：STORAGE  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 友盟第三方登录分享SDK  组：LOCATION  -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>


    <application
        android:name=".base.baseclass.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".module.main.LoadingScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >

        </activity>

        <activity android:name=".module.main.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.user.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".module.user.WelcomeActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".module.web.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".module.user.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.user.UserNicknameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.user.UserWalletActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.pay.PayDepositActivity" android:screenOrientation="portrait"/>


        <!-- ***************************************************** -->
        <!-- *********************其他第三方配置******************** -->
        <!-- ***************************************************** -->
        <activity android:name="com.google.zxing.activity.CaptureActivity"/>

        <!-- 微信相关回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- ^^^^^^^^^^^ -->


        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HqpXG3RQcXFxYypEj8Kzs8OBpsZhz8Su"
            />
        <!-- ^^^^^^^^^^^ -->

        <!-- 本地图片选择器 -->
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
                  android:theme="@style/PhotoPickerAppTheme"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
                  android:theme="@style/PhotoPickerAppTheme"/>
        <!-- ^^^^^^^^^^^ -->

        <!-- 友盟SDK ****************************************
        <activity
            android:name="fitnessroom.hxs.com.ushare.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action
                    android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>-->
        <!-- ^^^^^^^^^^^ -->

    </application>

</manifest>